h3 {
    text-decoration: underline;
  }

.card-container {
    border-width:2px;  
    border-style:solid;
    margin: 10px;
  }

.btn {  
    border: dotted;
    border-color: darkgray;
    border-style: dashed;
    border-radius: 0px;
    cursor: pointer;
    background-color: white;
    padding: 46px;
    position: sticky;
  }
