<div class="container">
  <div class="row" *ngIf="!createCardClicked; else elseBlock">
      <div class="col-md-3 card-container" *ngFor="let card of cards">
        <h4>{{ card.cardName }}</h4>
      <p>{{ card.cardNumber }}</p>
      <p>{{ card.expiry }}</p>
      <h2>{{ card.cardAmount }}</h2>
      </div>
      <div class="col-md-3 card-container btn" (click)="createCard();">
        <i type="button" class="material-icons custom">add_circle</i>
      <p>Create a virtual card</p>
        </div>
</div>
<ng-template style="margin: 10px;" #elseBlock>
  <app-create-new-card (cardCreated)="onCardCreated($event)"></app-create-new-card>
</ng-template>
</div>