<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <label for="cardName">Card Name</label>
                Netflix Subscription
            </div>
            <div>
                <label for="cardNumber">Card Number</label>
                4100 0000 0000 0000
            </div>
            <div>
                <label for="expiresOn">ExpiryOn (month / year)</label>
                10/2020
            </div>
            <div>
                <label for="cardBalance">Card Balance</label>
                $4000
            </div>
        </div>
    </div>
</div>