.nav-pills>li>a {
    border-radius: 0px;
    color: #fff;
    background-color: #337ab7;
}

.nav-pills>li.active>a {
    color: #fff;
    background-color: rgba(230, 47, 47, 0.651);
}

.brand {
    padding: 25px 47%;
}

h3 {
    width: 50px;
}

.btn {
    border: 0px solid transparent;
}

h2 {
    color: slategray;
    font-family: fantasy;
    font-size: 200%;
    width: 180px;
    margin: 6px -42px;
}